<div class="nav__container">
    <img class="nav__logo" src="../../../../assets/images/netflix-logo.svg" alt="Netflix">
    <ul class="nav__menu">
        <li>Inicio</li>
        <li>Buscar</li>
    </ul>
</div>
