@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

// General variables
$font-family: 'Bebas Neue',
cursive;
$background-color           : black;
$color                      : white;
// Variables for screen size control
$mobile_breakpoint          : 576px;
$tablet_breakpoint          : 768px;
$tablet_landscape_breakpoint: 992px;
$desktop_breakpoint         : 1200px;
$desktop_xl_breakpoint      : 1600px;

// Mixin for media query

@mixin mobile {
    @media only screen and (max-width: #{$mobile_breakpoint}) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (max-width: #{$tablet_breakpoint}) {
        @content;
    }
}

.nav__container {
    font-family     : $font-family;
    background-color: black;
    color           : white;
    display         : flex;
    align-items     : center;
    justify-content : space-between;
}

.nav__logo {
    width : 12%;
    margin: 2rem 0 1.5rem 5%;

    @include mobile {
        width : 40%;
        margin: 1.5rem 0 1rem 5%;
    }
}

.nav__menu {
    display        : inline-flex;
    justify-content: space-between;
    list-style-type: none;
    padding        : 0 3rem;

    @include mobile {
        padding: 0 1rem;
    }
}

.nav__menu>li {
    padding        : 1rem;
    text-decoration: none;

    @include mobile {
        padding: 0.5rem;
    }
}