<div class="hero__container">
    <div class="hero__category">
        <p>{{hero.category}}</p>
    </div>
    <div class="hero__gallery">
        <div id="{{index}}" class="hero__card" *ngFor="let film of hero.films; let index = index">
            <!-- <p>{{index+1}}</p> -->
            <img class="hero__img2" src="../../../../assets/images/{{index}}.png" alt="{{film.img.alt}}">
            <img class="hero__img" src="{{film.img.src}}" alt="{{film.img.alt}}" />
        </div>
    </div>
</div>