@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

// General variables
$font-family: 'Bebas Neue',
cursive;
$background-color           : black;
$color                      : white;
// Variables for screen size control
$mobile_breakpoint          : 576px;
$tablet_breakpoint          : 768px;
$tablet_landscape_breakpoint: 992px;
$desktop_breakpoint         : 1200px;
$desktop_xl_breakpoint      : 1600px;

// Mixin for media query

@mixin mobile {
    @media only screen and (max-width: #{$mobile_breakpoint}) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (max-width: #{$tablet_breakpoint}) {
        @content;
    }
}

.hero__container {
    display         : flex;
    flex-direction  : column;
    font-family     : $font-family;
    background-color: $background-color;
    color           : $color;
    padding         : 1rem 1rem;
}

.hero__category>p {
    margin   : 0;
    font-size: 1.3rem;
}

.hero__gallery {
    display       : flex;
    flex-direction: row;
    align-items   : center;
    flex-wrap     : nowrap;

    @include mobile {
        flex-direction: column;
    }
}

.hero__gallery>p {
    display       : flex;
    flex-direction: row;
    align-items   : center;
    flex-wrap     : nowrap;
}

.hero__card {
    margin     : 1rem 0 1rem 1rem;
    width      : 20%;
    display    : flex;
    flex-wrap  : nowrap;
    align-items: center;

    @include mobile {
        width: 50%;
    }
}

.hero__card>p {
    margin     : 0;
    //font-size: 10rem;
}

.hero__img {
    max-width: 50%;
}

.hero__img2 {
    max-width: 50%;
}

/* .hero__card[id]::before {
    content: attr(id);
    position: relative;
    left: -4rem;
    top: 180px;
    min-width: 200px;
    border: 1px #aaaaaa solid;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-size: 10rem;
    z-index: 1;
} */