@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

// General variables
$font-family: 'Bebas Neue',
cursive;
$background-color           : black;
$color                      : white;
// Variables for screen size control
$mobile_breakpoint          : 576px;
$tablet_breakpoint          : 768px;
$tablet_landscape_breakpoint: 992px;
$desktop_breakpoint         : 1200px;
$desktop_xl_breakpoint      : 1600px;

// Mixin for media query
@mixin mobile {
    @media only screen and (max-width: #{$mobile_breakpoint}) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (max-width: #{$tablet_breakpoint}) {
        @content;
    }
}

.films__container {
    display         : flex;
    flex-direction  : column;
    font-family     : $font-family;
    background-color: $background-color;
    color           : $color;
    padding         : 0 1rem;
}

.films__category>p {
    margin   : 0;
    font-size: 1.3rem;
}

.films__gallery {
    display       : flex;
    flex-direction: row;

    @include mobile {
        flex-direction: column;
        align-items   : center;
    }
}

.films__card {
    margin: 1rem;
    width : 20%;

    @include mobile {
        width: 50%;
    }
}

.films__card>p {
    margin: 0;
}

.films__img {
    width : 95%;
    margin: auto;
}