<div class="films__container">
    <div class="films__category">
        <p>{{films.category}}</p>
    </div>
    <div class="films__gallery">
        <div class="films__card" *ngFor="let film of films.films; let index = index">
            <p>{{film.title}}</p>
            <img class="films__img" src="{{film.img.src}}" alt="{{film.img.alt}}" />
        </div>
    </div>
</div>
